
body{
    background-color:#00356B;
    font-family: sans-serif;
}
h1{
  color: rgba(243, 241, 241, 0.801);
  font-size: 75px;
}

.nav_bar{
    background-color: transparent;
    overflow: hidden;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar{
    float: left;
}
a{
    display:block;
    color: honeydew;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
}

.about_me{
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
}

.coding{
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.pentester{
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
}

.other_tec{
    background-color: transparent;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}